body{
    margin: 0;
}
.navbar{
    background-color: aliceblue;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: maroon;
    text-decoration: none;
    /* padding: 2%; */
    font-size: 200%;
    font-weight: bolder;
    font-family: georgia;
}
a div h1{
    text-align: center;
}
.h1-container{
    text-align: center;
}
